<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/dh-rutgers-2022/src/css/style.css' | url }}" />
  </head>
  <body id="nightModeDiv" class="">
    {% include components/navbar.html %}
    <div>
      <main>{{ content | safe }}</main>
    </div>
    {% include components/footer.html %}
    <script src="{{ '/dh-rutgers-2022/src/js/script.js' | url }}"></script>
    
  </body>
</html>
