.dark-theme {
  color: #e6e6e6;
  background-color: #202020; }
  .dark-theme .nav-list a {
    color: #ADD8E6; }
  .dark-theme .logo a {
    color: #ADD8E6; }
  .dark-theme .links {
    margin: 0;
    color: #ffffff; }
  .dark-theme .night-mode-btn {
    color: #ADD8E6; }
    .dark-theme .night-mode-btn svg {
      fill: #ADD8E6; }
  .dark-theme .link-btn {
    color: #ADD8E6; }
  .dark-theme .main a {
    color: #ADD8E6; }
  .dark-theme .blog-single {
    color: #ffffff; }
  .dark-theme footer a {
    color: #ADD8E6; }

body {
  font: 100% Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #e6e6e6;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; }
  li {
    list-style-type: disc;
  }

  li li {
    list-style-type: square;
  }
  body nav {
    padding: 0.75rem;
    justify-content: space-between;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px; }
    body nav .nav-list {
      display: flex;
      align-items: center; }
      body nav .nav-list a {
        margin-right: 2rem;
        text-decoration: none;
        color: #5a8999; }
        body nav .nav-list a:hover {
          text-decoration: underline; }
    body nav .logo {
      margin: 0; }
    body nav .logo a {
      font-weight: bold;
      font-size: medium;
      text-decoration: none;
      color: #5a8999; }
    body nav .night-mode-btn {
      color: #5a8999;
      background-color: transparent;
      border: none; }
      body nav .night-mode-btn svg {
        fill: #5a8999; }
  body main {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    body main a {
      color: #5a8999;
      text-decoration: none; }
      body main a:hover {
        text-decoration: underline; }
  body .article-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    body .article-wrapper a {
      color: #5a8999;
      text-decoration: none; }
      body .article-wrapper a:hover {
        text-decoration: underline; }
    body .article-wrapper img {
      width: 100%; }
  body .blog-list {
    display: grid;
    gap: 1rem; }
    body .blog-list a:hover {
      text-decoration: none; }
  body .blog-single {
    color: #333333;
    border-style: solid;
    border-width: 1px;
    padding: 1rem; }
    body .blog-single .title {
      font-weight: bold;
      font-size: 1.5rem; }
    body .blog-single p {
      margin: 0; }
    body .blog-single .description {
      margin-top: 1rem; }
  body footer {
    padding: 0.75rem;
    justify-content: space-between;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px; }
    body footer a {
      margin: 0;
      color: #5a8999;
      display: inline-block;
      text-decoration: none; }
      body footer a:hover {
        text-decoration: underline; }
  body p {
    line-height: 1.5rem; }
  body .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem; }
  body .paragraph {
    text-align: justify; }
  body .link-btn {
    color: #5a8999;
    padding: 0.5rem;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    display: inline-block; }

@media screen and (max-width: 1150px) {
  body nav {
    width: 90%; }
  body main {
    width: 90%; }
  body footer {
    width: 90%; } }
